# Dependencies
node_modules
client/node_modules
server/node_modules

# Build output
dist
build
client/dist
server/dist

# Environment variables
.env
client/.env
server/.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/settings.json
.idea

# Coverage
coverage

# Temporary files
*.tmp
*.temp